$color-below-image: #ccc;
@mixin star-icon(){
  background-image:url(https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-20.png);
}
@mixin transforming($value){
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;
}
@mixin transition-transform($delay){
  -webkit-transition: transform $delay;
	-moz-transition: transform $delay;
	-ms-transition: transform $delay;
	-o-transition: transform $delay;
	transition: transform $delay;
}
.products-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 15px;
}
.product{
  width:300px;
  > div{
    position:relative;
    z-index:10;
  }
  .title-wrapper {
    background-color:#333;
    text-align: center;
    height: 45px;
    color:#fff;
    padding:10px;
    font-size:18px;
    display: table;  
    overflow: hidden;
    width: 285px;
  }
  .title{
    display: table-cell; 
    vertical-align: middle;
    height: 90px;
  }
  .text{
    display:inline-block;
    vertical-align:middle;
    color:#333;
    font-weight: 300;
    padding: 20px 0;
    
    .description{
      text-align: justify;
      padding: 0 20px;
      margin-bottom: 10px;
      color: #757575;
      height: 180px;
    }
    .price{
      float: right;
      padding: 0 20px;
      font-size: 1em;
      margin-bottom:10px;
    }
    .shop-actions{
      padding: 0 20px;
      button{
        width: 100%;
        vertical-align:middle;
        background-color: rgb(241, 38, 38);
        border:none;
        box-shadow: 0 5px 5px -2px rgba(0,0,0,0.5);
        padding:5px;
        font-size:18px;
        font-family:"Oswald";
        color: white;
      }
    }
  }
  .preview{
    margin: auto;
    padding-top: 20px;
    height:100px;
    width:80px;
    margin-left: 38%;
  }
  &:hover{
    .preview{
      .image{
        @include transforming(rotate(20deg));
      }
      .circle{
        @include transforming(scale(1));
      }
    }
  }
}
