
.receipt { 
    width: 93%; 
    background-color: #ffffff; 
    padding: 15px; 
    display: block !important;
}

.receipt .price, 
.receipt .total,
.discount { 
    text-align: right; 
}

.receipt-table { 
    width: 100%;
 }

.receipt-table th:first-child {
  text-align: left;
}

.receipt-table tbody td {
  line-height: 44px;
}

.text-center {
    text-align: center;
}

.receipt-table tfoot td {
  font-weight: bold;
  text-align: right;
}

.table-footer {
  height: 100px;
}

.mt-2 {
  margin-top: 300px !important;
}
