.grow_on_hover:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.pointer {
  cursor: pointer;
}

.black-btn {
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 10px 20px;
  width: 185px;
  height: 40px;
  background-color: #262626;
  border: 1px solid #ddd;
  color: white;
  border-radius: 5px;
  width: 150px;
  text-decoration: none;
  margin-right: 15%;
}

