.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  width: 167px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: auto;
}

.form-inline button {
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 10px 20px;
  width: 180px;
  margin: auto;
  height: 40px;
  background-color: #262626;
  border: 1px solid #ddd;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}


