$color-below-image: #ccc;

.products-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 15px;
}

.product{
  position: relative;
  width:300px;
  margin: auto;
  > div{
    z-index:10;
  }
  .title-wrapper {
    background-color:#333;
    text-align: center;
    height: 45px;
    color:#fff;
    padding:10px;
    font-size:18px;
    display: table;  
    overflow: hidden;
    width: 285px;
  }
  .title{
    display: table-cell; 
    vertical-align: middle;
    height: 90px;
  }
  .text{
    display:inline-block;
    vertical-align:middle;
    color:#333;
    font-weight: 300;
    padding: 20px 0;
    
    .description{
      text-align: justify;
      padding: 0 10px;
      margin-bottom: 10px;
      color: #757575;
      height: 180px;
    }
    .price{
      float: right;
      padding: 0 20px;
      font-size: 1em;
      margin-bottom: 10px;
    }
    .shop-actions{
      padding: 0 20px;
    }
  }
  .preview{
    margin: auto;
    padding-top: 20px;
    height:100px;
    width:80px;
    margin-left: 38%;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 305px!important;
}

.box {
  position: relative;
  width: 500px;
  height: 130px;
  background-color: #fff;
  overflow: hidden;
}

.ribbon {
  position: absolute;
  display: inline-block;
  top: 0.5em;
  right: 0.5em;
  max-width: 5em;
  color: #fff;
  z-index: 1;
}

.ribbon::after {
  position: absolute;
  top: 0.3em;
  right: -6em;
  content: "";
  
  height: 5em;
  width: 15em;
  
  transform: rotate(45deg);

  background-color: red;
  z-index:-1;
}