#formWrapper{
	background: rgba(0,0,0,.2); 
	width:100%; 
	height:100%; 
	position: absolute; 
	top:0; 
	left:0;
	transition:all .3s ease;}
.darken-bg{background: rgba(0,0,0,.5) !important; transition:all .3s ease;}

div#form{
    margin-top: 7px;
	position: relative;
	height:auto;
	background-color: #fff;
	border-radius: 5px;
	padding:20px;
}
div.form-item{position: relative; display: block; margin-bottom: 20px;}
 input{transition: all .2s ease;}
 input.form-style{
    margin: auto;
	color:#8a8a8a;
	display: block;
	width: 50%;
	height: 44px;
	padding: 5px 5%;
	border:1px solid #ccc;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	font-family:'HelveticaNeue','Arial', sans-serif;
	font-size: 105%;
	letter-spacing: .8px;
}
div.form-item .form-style:focus{outline: none; border:1px solid black; color:black; }
div.form-item p.formLabel {
	position: absolute;
	left:90px;
	top:2px;
	transition:all .4s ease;
	color:#bbb;}
.formTop{top:-22px !important; left:26px; background-color: #fff; padding:0 5px; font-size: 14px; color: black !important;}
.formStatus{color:#8a8a8a !important;}
input[type="submit"].get-carts-button{
	margin-left: 44%;
    margin-top: 20px;
	width: 112px;
	height: 37px;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: black;
	border:1px solid black;
	border:none;
	color: #fff;
	font-weight: bold;
}
input[type="submit"].get-carts-button:hover{background-color: #fff; border:1px solid black; color:black; cursor:pointer;}
input[type="submit"].get-carts-button:focus{outline: none;}
